body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:840px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2981 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:840px;
  color:#FFFFFF;
}
#u2982 {
  position:absolute;
  left:2px;
  top:412px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:90px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2984 {
  position:absolute;
  left:0px;
  top:840px;
  width:1024px;
  height:90px;
}
#u2985 {
  position:absolute;
  left:2px;
  top:37px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2986 {
  position:absolute;
  left:150px;
  top:857px;
  width:70px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2987 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u2988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2988 {
  position:absolute;
  left:40px;
  top:857px;
  width:70px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2989 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u2990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u2990 {
  position:absolute;
  left:734px;
  top:857px;
  width:50px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2991 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u2992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u2992 {
  position:absolute;
  left:824px;
  top:857px;
  width:50px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2993 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u2994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u2994 {
  position:absolute;
  left:914px;
  top:857px;
  width:50px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2995 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u2996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2996 {
  position:absolute;
  left:40px;
  top:900px;
  width:379px;
  height:18px;
  color:#999999;
}
#u2997 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u2998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2998 {
  position:absolute;
  left:623px;
  top:857px;
  width:70px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2999 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u3001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3002 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:70px;
  color:#FFFFFF;
}
#u3003 {
  position:absolute;
  left:2px;
  top:27px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3004 {
  position:absolute;
  left:31px;
  top:16px;
  width:79px;
  height:37px;
  color:#999999;
}
#u3005 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3006 {
  position:absolute;
  left:210px;
  top:26px;
  width:90px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3007 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u3009 {
  position:absolute;
  left:451px;
  top:35px;
  width:12px;
  height:8px;
}
#u3010 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3011 {
  position:absolute;
  left:353px;
  top:26px;
  width:100px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3012 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3013 {
  position:absolute;
  left:534px;
  top:26px;
  width:90px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3014 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3015 {
  position:absolute;
  left:353px;
  top:51px;
  visibility:hidden;
}
#u3015_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:110px;
  height:120px;
  background-image:none;
}
#u3015_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3016 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:120px;
}
#u3017 {
  position:absolute;
  left:2px;
  top:52px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3018 {
  position:absolute;
  left:10px;
  top:20px;
  width:90px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3019 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3020 {
  position:absolute;
  left:10px;
  top:53px;
  width:90px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3021 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3022 {
  position:absolute;
  left:10px;
  top:86px;
  width:90px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3023 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u3025 {
  position:absolute;
  left:940px;
  top:29px;
  width:80px;
  height:22px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u3026 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u3027 {
  position:absolute;
  left:990px;
  top:32px;
  width:10px;
  height:8px;
}
#u3028 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3029 {
  position:absolute;
  left:930px;
  top:42px;
  width:94px;
  height:185px;
  overflow:hidden;
  visibility:hidden;
}
#u3029_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3029_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:153px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3030 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:153px;
}
#u3031 {
  position:absolute;
  left:2px;
  top:68px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3032 {
  position:absolute;
  left:10px;
  top:20px;
  width:90px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3033 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u3034 {
  position:absolute;
  left:10px;
  top:53px;
  width:90px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u3035 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3036 {
  position:absolute;
  left:10px;
  top:79px;
  width:90px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3037 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3038 {
  position:absolute;
  left:10px;
  top:111px;
  width:90px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3039 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:399px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3040 {
  position:absolute;
  left:298px;
  top:210px;
  width:342px;
  height:399px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3041 {
  position:absolute;
  left:2px;
  top:192px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3042 {
  position:absolute;
  left:330px;
  top:369px;
  width:280px;
  height:40px;
}
#u3042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3043 {
  position:absolute;
  left:418px;
  top:240px;
  width:101px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3044 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3045 {
  position:absolute;
  left:330px;
  top:439px;
  width:280px;
  height:40px;
}
#u3045_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u3046 {
  position:absolute;
  left:329px;
  top:523px;
  width:280px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u3047 {
  position:absolute;
  left:2px;
  top:14px;
  width:276px;
  word-wrap:break-word;
}
#u3048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u3048 {
  position:absolute;
  left:20px;
  top:115px;
  width:80px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u3049 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3050 {
  position:absolute;
  left:130px;
  top:115px;
  width:80px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3051 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3052_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:5px;
}
#u3052 {
  position:absolute;
  left:130px;
  top:135px;
  width:70px;
  height:2px;
}
#u3053 {
  position:absolute;
  left:2px;
  top:-7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3054 {
  position:absolute;
  left:330px;
  top:299px;
  width:280px;
  height:40px;
}
#u3054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u3055 {
  position:absolute;
  left:249px;
  top:115px;
  width:80px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u3056 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
