body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:650px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u76 {
  position:absolute;
  left:0px;
  top:70px;
  width:1024px;
  height:650px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u77 {
  position:absolute;
  left:2px;
  top:317px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:70px;
  color:#FFFFFF;
}
#u80 {
  position:absolute;
  left:2px;
  top:27px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:31px;
  top:16px;
  width:79px;
  height:37px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u83 {
  position:absolute;
  left:200px;
  top:26px;
  width:200px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:90px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:0px;
  top:720px;
  width:1024px;
  height:90px;
}
#u87 {
  position:absolute;
  left:2px;
  top:37px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u88 {
  position:absolute;
  left:150px;
  top:737px;
  width:70px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u90 {
  position:absolute;
  left:40px;
  top:737px;
  width:70px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u92 {
  position:absolute;
  left:734px;
  top:737px;
  width:50px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u93 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u94 {
  position:absolute;
  left:824px;
  top:737px;
  width:50px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u95 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u96 {
  position:absolute;
  left:914px;
  top:737px;
  width:50px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u97 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u98 {
  position:absolute;
  left:40px;
  top:780px;
  width:379px;
  height:18px;
  color:#999999;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u100 {
  position:absolute;
  left:623px;
  top:737px;
  width:70px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:320px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u103 {
  position:absolute;
  left:341px;
  top:170px;
  width:342px;
  height:320px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u104 {
  position:absolute;
  left:2px;
  top:152px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:373px;
  top:250px;
  width:280px;
  height:40px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u106 {
  position:absolute;
  left:461px;
  top:200px;
  width:101px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:373px;
  top:320px;
  width:280px;
  height:40px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u109 {
  position:absolute;
  left:372px;
  top:400px;
  width:280px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:2px;
  top:14px;
  width:276px;
  word-wrap:break-word;
}
